body {
    margin: 0;
    padding: 0;
    font-family: 'Tajawal', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #1e90ff, #87ceeb);
    color: #fff;
}

.development-container {
    text-align: center;
}

.development-image {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
    animation: float 3s ease-in-out infinite;
}

h1 {
    font-size: 2.5rem;
    margin: 10px 0;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.developer-name {
    font-weight: bold;
    color: #ffd700;
}

.home-button {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1.2rem;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.home-button:hover {
    background-color: #00509e;
    transform: scale(1.1);
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
